@charset "UTF-8";

@media screen and (max-width: 405px) {

    header {
        flex-flow: column nowrap;
    }

    header > h1 {
        flex-basis: 50px;
    }

    header>nav {
        flex-flow: column nowrap;
        width: 90vw;
    }
    
}