@charset "UTF-8";

body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #F61067, #A8154D);
    background-attachment: fixed;
}

main {
    background-color: #EFD5C3;
    border-radius: 2%;
    box-shadow: 5px 5px 20px #172b4681;
    width: 600px;
    padding: 2%;
    margin:auto
}

h1 {
    color: #233263;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.562);
}

h2 {
    color: #1D3557;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
}

p {
    text-align: justify;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.171);
}

