@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.url {
    color: rgb(217, 255, 0);
    font: bolder;
    text-decoration-line: none;
}
.url:hover {
    color: rgba(255, 255, 0, 0.856);
}

body {    
    background-image: linear-gradient(rgb(0, 0, 83) 20%,rgba(0, 255, 251, 0.42));
    background-attachment: scroll;
}

header {
    padding: 10px;
    background-image: linear-gradient(rgb(0, 0, 83));
}

.special {
    font-weight: bolder;
    text-decoration: none;
}

header>nav>a {
    text-decoration: none;
    color: rgb(146, 251, 255);
}

.uniq:hover {
    background-color: rgba(0, 0, 0, 0.185);
    transition-duration: 0.5s;
    color: rgba(0, 255, 255, 0.438);
}

.menu {
    margin-top: 40px;
    padding: 8px;
    background-image: linear-gradient(rgba(0, 247, 255, 0.181),rgba(0, 0, 255, 0.242)
    );
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.287);
}

.uniq {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 9px;
}

header>h1,h2.pr {
    text-align: center;
    color: white;
}

div.intro {
    margin: auto;
    background-color: rgba(100, 100, 100, 0.295);
    width: 1100px;
    text-align: justify;
    margin-top: 20px;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
}

article {
    padding: 13px;
    font-size: 23px;
}

.introducao {
    margin-top: 10px;
}

.apr{
    padding-bottom: 10px;
}

div.intro>article>div>p {
    padding-top: 8px;
    padding-bottom: 8px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.486);
}

main>article>div>p {
    padding-top: 8px;
    padding-bottom: 8px;
    text-shadow: 2px 2px 10px rgba(12, 0, 0, 0.199);
}

main {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.863);
    width: 1100px;
    text-align: justify;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
    border-radius: 1px;
}