@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --fonte-google: "Google Sans", sans-serif;

    --fonte-elegante: "Tinos", serif;
}

* {
    margin: 0;
    padding: 0;
}

.url {
    color: rgb(217, 255, 0);
    font: bolder;
    text-decoration-line: none;
}
.url:hover {
    color: rgba(255, 255, 0, 0.856);
}

body {    
    background-image: linear-gradient(rgb(0, 0, 83) 20%,rgba(0, 255, 251, 0.42));
    background-attachment: scroll;
}

header {
    padding: 10px;
    background-image: linear-gradient(rgb(0, 0, 83));
}

.special {
    font-weight: bolder;
    text-decoration: none;
}

header>nav>a {
    text-decoration: none;
    color: rgb(146, 251, 255);
}

.uniq:hover {
    background-color: rgba(0, 0, 0, 0.185);
    transition-duration: 0.5s;
    color: rgba(0, 255, 255, 0.438);
}

.menu {
    margin-top: 40px;
    padding: 8px;
    background-image: linear-gradient(rgba(0, 247, 255, 0.181),rgba(0, 0, 255, 0.242)
    );
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.287);
}

.uniq {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 9px;
}

header>h1,h2.pr {
    text-align: center;
    color: white;
}

div.intro {
    margin: auto;
    background-color: rgba(100, 100, 100, 0.295);
    width: 1100px;
    text-align: justify;
    margin-top: 20px;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--fonte-elegante);
}

div.intro>article>div>p {
    font-family: var(--fonte-google);
    font-weight: lighter;
    color: rgba(240, 248, 255, 0.955);
}


article {
    padding: 13px;
    font-size: 23px;
}

.introducao {
    margin-top: 10px;
}

.apr{
    padding-bottom: 10px;
}

div.intro>article>div>p {
    padding-top: 8px;
    padding-bottom: 8px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.486);
}

p {
    padding-top: 8px;
    padding-bottom: 8px;
    text-shadow: 2px 2px 10px rgba(12, 0, 0, 0.199);
    font-family: var(--fonte-google);
}

main {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.863);
    width: 1100px;
    text-align: justify;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.377);
    border-radius: 1px;
}

.stripes {
    background-image: linear-gradient(rgba(128, 128, 128, 0.115), rgba(255, 255, 255, 0.074), rgba(128, 128, 128, 0.094));
}

.ajuste {
    margin-top: 10px;
}

h3,h4,h5,h6.indent {
    text-indent: 10px;
    margin-top: 10px;
    margin-bottom: 3px;
    text-decoration: underline;
    text-decoration-color: rgb(175, 4, 243);
}

.indent::before {
    content: "* ";
    color: rgb(255, 0, 238);
}